.weather-block {
  width: 576px;
}

.flow-block {
  display: flex;
  flex-wrap: wrap;
}

.day {
  display: flex;
  justify-content: space-evenly;
  z-index: 10;
}

.day-card {
  background-color: #00000000;
}

.cent {
  display: flex;
  justify-content: space-evenly;
}

.bar-cont {
  height: 100px;
  position: relative;
}

.bar {
  width: 27px;
  background-color: #059BE8;
  border-top: 2px solid #0075EB;
  position: absolute;
  bottom: 0;
}

.highlight {
  background-color: #E6E6E6;
}
